.bg-purple {
    background-color: rgb(128, 101, 252);
}

.txt-white {
    color: white;
}

.input {
    border-radius: 1.2rem;
}

.navbar-txt a {
    color: rgb(255, 255, 255);
}

.rounded-border{
    border-radius: 0.7rem;
}